
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cutcorners</title>
 
    <meta name="description" content="cutcorners">


 <link rel="icon" href="/assets/img/favicon1.png">
  <!-- CSS only -->
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/owl.carousel.min.css">
   <link rel="stylesheet" href="/css/owl.theme.default.min.css">
   <!-- fancybox -->
   <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
   <!-- Font Awesome 6 -->
   <link rel="stylesheet" href="/css/fontawesome.min.css">
   <!-- style -->
   
   <!-- responsive -->
  
   <!-- color -->
   <link rel="stylesheet" href="/css/color.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>


<body>


    <%- include("../includes/navbar") %>
        <%- body %>
            <%- include("../includes/footer") %>


                <script src="/js/script.js"></script>
                <!-- jQuery -->
                <script src="/js/jquery-3.6.0.min.js"></script>
                <!-- Bootstrap Js -->
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/owl.carousel.min.js"></script>
                <!-- fancybox -->
                <script src="/js/jquery.fancybox.min.js"></script>
                <script src="/js/custom.js"></script>


</body>

</html>
