<% layout("/layouts/boilerplate") %>

<section class="banner" style="background-image:url(assets/img/background.jpg)" >
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">pages</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
      <h2>About Us</h2>
    </div>
  </section><br><br><br><br>
  <section>
    <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="party-balloons">
              <h2>Explore Cut Corners for every event</h2><br>
              <p align="justify"> <span style="color:black">Experience the ultimate in intimate entertainment with Cut Corners, your premier private theater destination. Where memories are made, and moments are celebrated in style. Screen your happiness, surprise your loved ones, and indulge in the magic of the big screen.</span></p>
              <ul>
                <li><img alt="chak" src="assets/img/chak.png">Private Theaters</li>
                <li><img alt="chak" src="assets/img/chak.png">Party Halls</li>
                <li><img alt="chak" src="assets/img/chak.png">Screening</li>
              </ul> 
              <div class="call-us">
                <img alt="call" src="assets/img/call.png">
                <div>
                  <span>Have Questions? Call Us</span>
                  <a href="callto:+91-7780279767">+91-7780279767</a>
                  <p>Open 9:30 AM to 12:00 AM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="party-balloon-img">
              <img alt="party-balloon" class="p-balloon" src="assets/img/party-balloon-1.jpg">
              <img alt="party-balloon" src="assets/img/party-balloon-2.jpg">
              <div class="b-shap"></div>
            </div>
          </div>
        </div>
        
    </div>
  </section><br><br>
  <section class="party-supply" style="background-image: url(assets/img/featured-area-2.jpg);">
    <div class="container">
      <div class="featured-area two">
              <h2>Cut Corners - Party Hub</h2>
              <p>We provide more than just first-rate event experiences and private theater. In order for you to unwind and enjoy your stay with us to the fullest, our hardworking staff is committed to making sure every detail is taken care of.</p>
              <a href="#" class="btn two"><span>Book Now!</span></a>
            </div>
    </div>
  </section>
  <!-- <section class="gap no-top">
    <div class="container">
      <div class="heading">
        <img alt="heading" src="assets/img/heading.png">
        <h2>Meet Decoration Team</h2>
        <p>Love With Our Wide Selection Of Foil Balloons</p>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="team-text">
            <img alt="team" src="https://via.placeholder.com/294x294">
            <a href="callto:+12344502086">
              <i>
                <svg height="112" viewBox="0 0 24 24" width="112" xmlns="http://www.w3.org/2000/svg"><g clip-rule="evenodd" fill="rgb(255255,255)" fill-rule="evenodd"><path d="m7 2.75c-.41421 0-.75.33579-.75.75v17c0 .4142.33579.75.75.75h10c.4142 0 .75-.3358.75-.75v-17c0-.41421-.3358-.75-.75-.75zm-2.25.75c0-1.24264 1.00736-2.25 2.25-2.25h10c1.2426 0 2.25 1.00736 2.25 2.25v17c0 1.2426-1.0074 2.25-2.25 2.25h-10c-1.24264 0-2.25-1.0074-2.25-2.25z"></path><path d="m10.25 5c0-.41421.3358-.75.75-.75h2c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-2c-.4142 0-.75-.33579-.75-.75z"></path><path d="m9.25 19c0-.4142.33579-.75.75-.75h4c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-4c-.41421 0-.75-.3358-.75-.75z"></path></g></svg>
              </i> <h6>+1234 450 2086</h6></a>
            <h3>Willimes Domson</h3>
            <span>chief creative officer</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="team-text">
            <img alt="team" src="https://via.placeholder.com/294x294">
            <a href="callto:+12344502086">
              <i>
                <svg height="112" viewBox="0 0 24 24" width="112" xmlns="http://www.w3.org/2000/svg"><g clip-rule="evenodd" fill="rgb(255255,255)" fill-rule="evenodd"><path d="m7 2.75c-.41421 0-.75.33579-.75.75v17c0 .4142.33579.75.75.75h10c.4142 0 .75-.3358.75-.75v-17c0-.41421-.3358-.75-.75-.75zm-2.25.75c0-1.24264 1.00736-2.25 2.25-2.25h10c1.2426 0 2.25 1.00736 2.25 2.25v17c0 1.2426-1.0074 2.25-2.25 2.25h-10c-1.24264 0-2.25-1.0074-2.25-2.25z"></path><path d="m10.25 5c0-.41421.3358-.75.75-.75h2c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-2c-.4142 0-.75-.33579-.75-.75z"></path><path d="m9.25 19c0-.4142.33579-.75.75-.75h4c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-4c-.41421 0-.75-.3358-.75-.75z"></path></g></svg>
              </i> <h6>+1234 450 2086</h6></a>
            <h3>Thomas Walkar</h3>
            <span>chief creative officer</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="team-text">
            <img alt="team" src="https://via.placeholder.com/294x294">
            <a href="callto:+12344502086">
              <i>
                <svg height="112" viewBox="0 0 24 24" width="112" xmlns="http://www.w3.org/2000/svg"><g clip-rule="evenodd" fill="rgb(255255,255)" fill-rule="evenodd"><path d="m7 2.75c-.41421 0-.75.33579-.75.75v17c0 .4142.33579.75.75.75h10c.4142 0 .75-.3358.75-.75v-17c0-.41421-.3358-.75-.75-.75zm-2.25.75c0-1.24264 1.00736-2.25 2.25-2.25h10c1.2426 0 2.25 1.00736 2.25 2.25v17c0 1.2426-1.0074 2.25-2.25 2.25h-10c-1.24264 0-2.25-1.0074-2.25-2.25z"></path><path d="m10.25 5c0-.41421.3358-.75.75-.75h2c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-2c-.4142 0-.75-.33579-.75-.75z"></path><path d="m9.25 19c0-.4142.33579-.75.75-.75h4c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-4c-.41421 0-.75-.3358-.75-.75z"></path></g></svg>
              </i> <h6>+1234 450 2086</h6></a>
            <h3>Nomina Jamses</h3>
            <span>chief creative officer</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="team-text mb-0">
            <img alt="team" src="https://via.placeholder.com/294x294">
            <a href="callto:+12344502086">
              <i>
                <svg height="112" viewBox="0 0 24 24" width="112" xmlns="http://www.w3.org/2000/svg"><g clip-rule="evenodd" fill="rgb(255255,255)" fill-rule="evenodd"><path d="m7 2.75c-.41421 0-.75.33579-.75.75v17c0 .4142.33579.75.75.75h10c.4142 0 .75-.3358.75-.75v-17c0-.41421-.3358-.75-.75-.75zm-2.25.75c0-1.24264 1.00736-2.25 2.25-2.25h10c1.2426 0 2.25 1.00736 2.25 2.25v17c0 1.2426-1.0074 2.25-2.25 2.25h-10c-1.24264 0-2.25-1.0074-2.25-2.25z"></path><path d="m10.25 5c0-.41421.3358-.75.75-.75h2c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-2c-.4142 0-.75-.33579-.75-.75z"></path><path d="m9.25 19c0-.4142.33579-.75.75-.75h4c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-4c-.41421 0-.75-.3358-.75-.75z"></path></g></svg>
              </i> <h6>+1234 450 2086</h6></a>
            <h3>Petar Parkar</h3>
            <span>chief creative officer</span>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- <section class="gap" style="background-color: #f7f7f7 ;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="heading two">
            <h2>Help Center - Faq’s</h2>
            <p>Love With Our Wide Selection Of Foil Balloons</p>
          </div>
          <div class="accordion">
                  <div class="accordion-item">
                      <a href="#" class="heading">
                          <div class="icon"></div>
                          <div class="title">Using Balloon Disks And Clips To Quickly Tie Balloons?</div>
                      </a>
  
                      <div class="content">
                          <p>Yes available online and store location. At this time, our products are only available for one store and purchase online.
                          </p>
                      </div>
                  </div>
  
                  <div class="accordion-item active">
                      <a href="#" class="heading" >
                          <div class="icon"></div>
                          <div class="title">Can i Pick up my order in a Store, Instead of Delivery?</div>
                      </a>
  
                      <div class="content" style="display: block;">
                          <p>Yes available online and store location. At this time, our products are only available for one store and purchase online.
                          </p>
                          <h6>
                            <i>
                              <svg
                                 version="1.1"
                                 xml:space="preserve"
                                 width="682.66669"
                                 height="682.66669"
                                 viewBox="0 0 682.66669 682.66669"
                                 xmlns="http://www.w3.org/2000/svg"
                                 ><clipPath
                                     clipPathUnits="userSpaceOnUse"
                                     id="clipPath2333"><path
                                       d="M 0,512 H 512 V 0 H 0 Z"
                                      /></clipPath><g
                                   id="g2325"
                                   transform="matrix(1.3333333,0,0,-1.3333333,0,682.66667)"><g
                                     id="g2327"><g
                                       id="g2329"
                                       clip-path="url(#clipPath2333)"><g
                                         id="g2335"
                                         transform="translate(256,92)"><path
                                           d="m 0,0 c -126.964,143.662 -160,165.23 -160,240 0,88.366 71.634,160 160,160 88.365,0 160,-71.634 160,-160 C 160,165.854 130.212,147.337 0,0 Z"
                                           style="fill:none;stroke:#672b83;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                           id="path2337" /></g><g
                                         id="g2339"
                                         transform="translate(316,372)"><path
                                           d="m 0,0 -80,-80 -40,40"
                                           style="fill:none;stroke:#672b83;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                           id="path2341" /></g><g
                                         id="g2343"
                                         transform="translate(176,20)"><path
                                           d="M 0,0 H 160"
                                           style="fill:none;stroke:#672b83;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"
                                           id="path2345" /></g></g></g></g>
                              </svg>
                            </i>
                          547 S Mason Road, New town Street 2548 United State</h6>
                      </div>
                  </div>
  
                  <div class="accordion-item">
                      <a href="#" class="heading">
                          <div class="icon"></div>
                          <div class="title">Using Balloon Disks And Clips To Quickly Tie Balloons?</div>
                      </a>
  
                      <div class="content">
                          <p>Yes available online and store location. At this time, our products are only available for one store and purchase online.
                          </p>
                          
                      </div>
                  </div>
  
                  <div class="accordion-item">
                      <a href="#" class="heading">
                          <div class="icon"></div>
                          <div class="title">Using Balloon Disks And Clips To Quickly Tie Balloons?</div>
                      </a>
  
                      <div class="content">
                          <p>Yes available online and store location. At this time, our products are only available for one store and purchase online.
                          </p>
                        
                      </div>
                  </div>
                  <div class="accordion-item">
                      <a href="#" class="heading">
                          <div class="icon"></div>
                          <div class="title">Using Balloon Disks And Clips To Quickly Tie Balloons?</div>
                      </a>
  
                      <div class="content">
                          <p>Yes available online and store location. At this time, our products are only available for one store and purchase online.
                          </p>
                          
                      </div>
                  </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="fun-facts-two mt-80">
                <h2 data-max="15"><span>M</span></h2>
                <h6>Satisfied Customers</h6>
              </div>
              <div class="fun-facts-two two mt-80">
                <h2 data-max="20"><span>K</span></h2>
                <h6>Balloon Designs in Stock</h6>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="fun-facts-two two ms-0">
                <h2 data-max="10"><span>K</span></h2>
                <h6>Completed Decoration</h6>
              </div>
              <div class="fun-facts-two mt-80 ms-0">
                <h2 data-max="45"><span>+</span></h2>
                <h6>Decorations Themes</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <div class="container gap">
    <div class="decoration-ideas">
        <h4>Some Decoration Ideas</h4>
        <ul class="instagram-posts">
          <li>
            <a href="assets/img/occians-holidays-1.jpg" data-fancybox="gallery"><figure><img alt="girl" src="assets/img/occians-holidays-1.jpg"></figure></a>
          </li>
          <li>
            <a href="assets/img/occians-holidays-7.jpg" data-fancybox="gallery"><figure><img alt="girl" src="assets/img/occians-holidays-7.jpg"></figure></a>
          </li>
          <li>
            <a href="assets/img/occians-holidays-2.jpg" data-fancybox="gallery"><figure><img alt="girl" src="assets/img/occians-holidays-2.jpg"></figure></a>
          </li>
          <li>
            <a href="assets/img/occians-holidays-3.jpg" data-fancybox="gallery"><figure><img alt="girl" src="assets/img/occians-holidays-3.jpg"></figure></a>
          </li>
          <li>
            <a href="assets/img/occians-holidays-4.jpg" data-fancybox="gallery"><figure><img alt="girl" src="assets/img/occians-holidays-4.jpg"></figure></a>
          </li>
          <li>
            <a href="assets/img/occians-holidays-5.jpg" data-fancybox="gallery"><figure><img alt="girl" src="assets/img/occians-holidays-5.jpg"></figure></a>
          </li>
          <li>
            <a href="assets/img/occians-holidays-6.jpg" data-fancybox="gallery"><figure><img alt="girl" src="assets/img/occians-holidays-6.jpg"></figure></a>
          </li>
        </ul>
        <a href="https://www.instagram.com/cutcorners.in/" target="_blank" class="btn"><span><i class="fa-brands fa-instagram"></i> Follow @cutcorners.in</span></a>
    </div>
  </div>
  <!-- <section class="gap no-top happy-custom">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="heading two mt-80">
            <h2>Happy Customer Feedback</h2>
            <p>whats trending at bargain balloons themes</p>
          </div>
          <div class="out-of">
            <div class="star">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4>4.9 <span>out of 5.0</span></h4>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="review-slider owl-carousel owl-theme">
            <div class="item review-style">
              <img alt="review" class="girl" src="https://via.placeholder.com/320x320">
              <div class="review">
              <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <p>“ A huge Thanks Only team to 
                    select me for review of product. 
                    Its really mean lots to send me 
                    products and i like to suggest all 
                    to buy them. ”</p>
              <h5>Nomina Willimes</h5>
              <span>September 11, 2023</span>
              </div>
            </div>
            <div class="item review-style">
              <img alt="review" class="girl" src="https://via.placeholder.com/320x320">
              <div class="review">
              <div class="star">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <p>“ A huge Thanks Only team to 
                    select me for review of product. 
                    Its really mean lots to send me 
                    products and i like to suggest all 
                    to buy them. ”</p>
              <h5>Walkar Jamson</h5>
              <span>September 11, 2023</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <img alt="shaps" class="shaps" src="assets/img/shaps.png">
    </div>
  </section> -->