<% layout("/layouts/boilerplate") %>

<section class="banner" style="background-image:url(https://via.placeholder.com/1920x300)">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Seasonal & Holidays</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">Packages</li>
      </ol>
      <h2>Packages</h2>
    </div>
  </section>
  <section class="gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="occians-holidays for mt-0">
            <figure>
              <img alt="holidays" src="https://via.placeholder.com/290x290">
            </figure>
            <div class="holidays-text">
              <h4>Chirstmas Special</h4>
              <ul>
                <li>
                  <div class="bol"></div>120 heart  balloon on Bed
                </li>
                <li>
                  <div class="bol"></div>Party foil balloon
                </li>
                <li>
                  <div class="bol"></div>Travelling expenses gst rate
                </li>
              </ul>
              <h5>$31.61</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="occians-holidays for mt-lg-0">
            <figure>
              <img alt="holidays" src="https://via.placeholder.com/290x290">
            </figure>
            <div class="holidays-text">
              <h4>Jumbo Love</h4>
              <ul>
                <li>
                  <div class="bol"></div>120 heart  balloon on Bed
                </li>
                <li>
                  <div class="bol"></div>Party foil balloon
                </li>
                <li>
                  <div class="bol"></div>Travelling expenses gst rate
                </li>
              </ul>
              <h5>$64.61</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="occians-holidays for mt-lg-0">
            <figure>
              <img alt="holidays" src="https://via.placeholder.com/290x290">
            </figure>
            <div class="holidays-text">
              <h4>Easter Day</h4>
              <ul>
                <li>
                  <div class="bol"></div>120 heart  balloon on Bed
                </li>
                <li>
                  <div class="bol"></div>Party foil balloon
                </li>
                <li>
                  <div class="bol"></div>Travelling expenses gst rate
                </li>
              </ul>
              <h5>$120.61</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="occians-holidays for">
            <figure>
              <img alt="holidays" src="https://via.placeholder.com/290x290">
            </figure>
            <div class="holidays-text">
              <h4>Mothers Day</h4>
              <ul>
                <li>
                  <div class="bol"></div>120 heart  balloon on Bed
                </li>
                <li>
                  <div class="bol"></div>Party foil balloon
                </li>
                <li>
                  <div class="bol"></div>Travelling expenses gst rate
                </li>
              </ul>
              <h5>$31.61</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="occians-holidays for">
            <figure>
              <img alt="holidays" src="https://via.placeholder.com/290x290">
            </figure>
            <div class="holidays-text">
              <h4>Color’s Day</h4>
              <ul>
                <li>
                  <div class="bol"></div>120 heart  balloon on Bed
                </li>
                <li>
                  <div class="bol"></div>Party foil balloon
                </li>
                <li>
                  <div class="bol"></div>Travelling expenses gst rate
                </li>
              </ul>
              <h5>$56.40</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="occians-holidays for">
            <figure>
              <img alt="holidays" src="https://via.placeholder.com/290x290">
            </figure>
            <div class="holidays-text">
              <h4>Happy New Year </h4>
              <ul>
                <li>
                  <div class="bol"></div>120 heart  balloon on Bed
                </li>
                <li>
                  <div class="bol"></div>Party foil balloon
                </li>
                <li>
                  <div class="bol"></div>Travelling expenses gst rate
                </li>
              </ul>
              <h5>$130.61</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container gap no-top">
    <div class="decoration-ideas">
        <h4>Cakes</h4>
        <ul class="instagram-posts">
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Chocolate Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Butterscotch Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Red Velvet Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>White Forest Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Pineapple Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Strawberry Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
        </ul>
        <ul class="instagram-posts">
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Chocolate Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Butterscotch Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Red Velvet Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>White Forest Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Pineapple Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
          <li>
            <a href="https://via.placeholder.com/170x170" data-fancybox="gallery"><figure><img alt="girl" src="/assets/img/theme/cake.png"></figure></a> <br><h6>Strawberry Cake</h6> <h6><span style="color:red">₹ 500/-</span></h6>
          </li>
        </ul>
        
    </div>
  </div>
  <section class="party-supply" style="background-image: url(https://via.placeholder.com/1920x720);">
    <div class="container">
      <div class="featured-area two">
              <h2>Party Supply and Balloon Recycling</h2>
              <p>Balloons offers one of the largest online balloon selections in the world.</p>
              <a href="#" class="btn two"><span>Recycle Now!</span></a>
            </div>
    </div>
  </section>