<% layout("/layouts/boilerplate") %>

<section class="banner" style="background-image:url(assets/img/background.jpg)" >
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">pages</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">Party Hall</li>
      </ol>
      <h2>Party Hall</h2>
    </div>
  </section>
