<% layout("/layouts/boilerplate") %>

<section class="banner" style="background-image:url(assets/img/background.jpg)" >
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">pages</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">Party Hall</li>
      </ol>
      <h2>Party Hall</h2>
    </div>
  </section>

  <section class="gap no-top" style="background-color: #f7f7f7 ;">
    <div class="container"><br><br><br>
      <div class="row">
        <div class="occasion-details">
          <div class="row">
            <div class="col-lg-6">
              <div class="pd-gallery two">
                <div class="pd-main-img">
                    <img id="NZoomImg" alt="ballon" src="assets/img/theme/10.png">
                    
                </div>
                <ul class="pd-imgs">
                      <li class="li-pd-imgs nav-active">
                          <a href="JavaScript:void(0)">
                            <img alt="ballon" src="assets/img/theme/10.png">
                          </a>
  
                      </li>
                      <li class="li-pd-imgs">
                        <a href="JavaScript:void(0)">
                          <img alt="ballon" src="assets/img/theme/11.png">
                        </a>
                      </li>
                      <li class="li-pd-imgs">
                        <a href="JavaScript:void(0)">
                          <img alt="ballon" src="assets/img/theme/12.png">
                        </a>
                      </li>
                      <li class="li-pd-imgs">
                        <a href="JavaScript:void(0)">
                          <img alt="ballon" src="assets/img/theme/13.png">
                        </a>
                      </li> 
                      <li class="li-pd-imgs">
                        <a href="JavaScript:void(0)">
                          <img alt="ballon" src="assets/img/theme/11.png">
                        </a>
  
                      </li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="theme-text party-balloons">
              <h6>Ready Time <span>– 1.5 to 2 Hours</span></h6>
              <h3>Surprise your loved one with intimate Celebration</h3>
            <!--  <div class="star">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <h6>( 12 Reviews )</h6>
              </div> -->
              
              <div class="content">
              <p align="justify">As you enter, you'll be greeted by a sophisticated ambiance, The spacious hall is adorned with tasteful decor and ambient lighting, creating an inviting atmosphere that sets the stage for memorable moments.</p> 
                <div class="party-balloons">
                  <ul>
                    <li><img alt="chak" src="assets/img/chak.png">Hall Rent & Decoration</li>
                    <li><img alt="chak" src="assets/img/chak.png">People Capacity 15-50</li>
                    <li><img alt="chak" src="assets/img/chak.png">Food Available at Seperate Cost</li>
                  </ul>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-baseline">
                  <h4>₹ 300/-</h4> per person &nbsp;
                  <span>(Add On's will be charged separately)</span>
                </div>
              </div><br>
           <!--   <div id="countdown">
                <h6>Deal ends in</h6>
                <ul>
                  <li><span id="days">156</span>d</li>
                  <li><span id="hours">12</span>H</li>
                  <li><span id="minutes">1</span>M</li>
                  <li><span id="seconds">56</span>S</li>
                </ul>
              </div> 
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div> -->
            <a href="https://wa.me/917780279767" target="_blank" class="btn"><span>Book Now</span></a>
          <!--  <div class="please-note">
              <h5>Please Note:</h5>
              <p>Address balloon color and other instructions will be taken during checkout</p>
            </div> -->
          </div>
            </div>
          </div>
        </div>
      <!--  <div class="col-lg-6">
          <div class="payment-methods">
            <h5>PAYMENT METHODS:</h5>
            <a href="#">
              <img alt="card" src="assets/img/card.png">
            </a>
            <p>Your payment information is processed securely. We do not store credit card details nor have access to your credit card information.</p>
          </div>
        </div> 
        <div class="col-lg-6">
          <div class="payment-methods">
            <ul class="social-media ">
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </section>
