<% layout("/layouts/boilerplate") %>

<section class="banner" style="background-image:url(assets/img/background.jpg)" >
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">pages</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">Private Theater</li>
      </ol>
      <h2>Private Theater</h2>
    </div>
  </section>
  <section class="gap">
    <div class="container">
      <div class="heading two">
        <h2>PRIVATE SCREEN - 1</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-3">
                  <div class="theme-text party-balloons two">
                    <h6>People Capacity <span>– 02 to 04 </span></h6>
                    <h3>Surprise Love Room Decoration</h3><br><Br>
                    
                    <div class="d-flex align-items-center">
                        <h3>₹ 999/-</h3> 
                      </div>
                      <span style="color:#ff3394">For 2 people</span>
                      <span style="color:#ff3394"><b>₹ 300/- Extra per person</b></span>
                    <a href="/booking" class="btn"><span>Book Now</span></a>
                  </div>
        </div>
        <div class="col-lg-9">
          <div class="ms-lg-5 d-sm-flex align-items-center justify-content-between">
            <div class="weekly-hot-deal-img item">
              <img alt="weekly-hot-deal" src="<%= screens[0].image1Url %>">
            </div>
            <div class="weekly-hot-deal-img item">
              <img alt="weekly-hot-deal" src="<%= screens[0].image2Url %>">
            </div>
          </div>
        </div>
      </div>
    </div><br><br><br>
    <div class="container">
      <div class="heading two">
        
        <h2 align="right">PRIVATE SCREEN - 2</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-9">
          <div class="ms-lg-5 d-sm-flex align-items-center justify-content-between">
            <div class="weekly-hot-deal-img item">
              <img alt="weekly-hot-deal" src="<%= screens[1].image1Url %>">
            </div>
            <div class="weekly-hot-deal-img item">
              <img alt="weekly-hot-deal" src="<%= screens[1].image2Url %>">
            </div>
            
          </div>
        </div>
        <div class="col-lg-3">
                  <div class="theme-text party-balloons two">
                    <h6>People Capacity <span>– 12 to 15 </span></h6>
                    <h3>Surprise Love Room Decoration</h3><br><Br>
                    
                    <div class="d-flex align-items-center">
                        <h3>₹ 1,499/-</h3> 
                      </div>
                      <span style="color:#ff3394">For 4 people</span>
                      <span style="color:#ff3394"><b>₹ 300/- Extra per person</b></span>
                    <a href="/booking" class="btn"><span>Book Now</span></a>
                  </div>
        </div>
        
      </div>
    </div>
  </section>