<% layout("/layouts/boilerplate") %>

<section class="banner" style="background-image:url(assets/img/background.jpg)" >
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">pages</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">Refund Policy</li>
      </ol>
      <h2>Refund Policy</h2>
    </div>
  </section>
  <br><br>
  <section>
    <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="party-balloons">
              <h2 align="center">Refund Policy</h2><br>
              <ul>
                <li><img alt="chak" src="/assets/img/chak.png">At Cut Corners, we believe in providing you with a seamless and worry-free experience when booking with us. Our refund policy is designed to prioritize your convenience while maintaining a fair approach for all our valued customers.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Booking Confirmation with Ease: To secure your reservation, we kindly request an advance payment of 700/- + 50/- convenience fee. This small amount goes a long way in confirming your slot, allowing us to prepare for your visit and offer you the best possible service.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Flexible Cancellation Options: Life can be unpredictable, and we understand that plans might change. If you decide to cancel your booking, rest assured that you're eligible for a full refund if you do so at least 72 hours before your scheduled booking. This gives you the flexibility you need without any worries.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">No-Refund Zone: Once we're within the 72-hour window, we gear up to make your experience memorable. However, please note that cancellations made after this period won't be eligible for a refund. We're committed to making your time with us special, and this policy ensures we're prepared to serve you better.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Your Punctuality Matters: Your time is valuable, and so is ours. We kindly request you to arrive on time for your booking. Unfortunately, refunds won't be provided for no-shows or late arrivals. It's all part of ensuring a smooth and enjoyable experience for every customer.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Easy Refund Process: Should you find yourself needing to cancel, please don't hesitate to contact us through WhatsApp (+91-7780279767). We'll guide you through the process and make sure your refund request is promptly addressed. Rest assured, your refund will be processed within 7 business days of receiving your cancellation request.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Always Here to Help: Questions? Concerns? We're here for you. If you have any queries about our refund policy or need assistance with anything else, don't hesitate to reach out. Your satisfaction is our priority, and we're always happy to assist.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Thank you for choosing Cut Corners. We can't wait to provide you with an amazing experience that you'll cherish."</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Cut Corners does not accept cancellation requests for perishable items like flowers, eatables etc. However, refund/replacement can be made if the customer establishes that the quality of product delivered is not good.</li>
              </ul> 
            </div>
          </div>
        </div>
        
    </div>
  </section><br><br>
  <section>
    <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="party-balloons">
              <h2 align="center">Terms & Conditions</h2><br>
              <ul>
                <li><img alt="chak" src="/assets/img/chak.png">Party poppers/Snow sprays/Cold Fire/Sparkle candles and any other similar items are strictly prohibited inside the theatre. Will be fined Rs. 1000/-
                </li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Smoking/Drinking is NOT allowed inside the theatre.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Any Damage caused to theatre, including decorative materials like balloons, lights etc will be fined up to Rs. 2000/-</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Any property inside the theatre should not be moved, should not off projector and speakers.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Guests are requested to maintain CLEANLINESS inside the theatre.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">We do NOT provide any movie/OTT accounts. We will do the setup using your OTT accounts/downloaded content.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Outside Food and Pets are prohibited.</li> <br>
                <li><img alt="chak" src="/assets/img/chak.png">Any damage to the screen or Projector will be fined Rs. 1,00,000/-</li> <br>
                
              </ul> 
            </div>
          </div>
        </div>
        
    </div>
  </section><br><br>