<% layout("/layouts/boilerplate") %>

<section class="banner" style="background-image:url(assets/img/background.jpg)" >
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">pages</a>
        </li>
          <li class="breadcrumb-item active" aria-current="page">Screening</li>
      </ol>
      <h2>Screening</h2>
    </div>
  </section>

  <div class="gap">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12">
          <div class="heading two">
            <p align="center"><b>Bring your own OTT accounts and relive the theater magic!!</b></p>
          </div>
        </div>
        
        <div class="col-xl-12">
          <ul class="top-brands mb-0">
            <li>
              <img alt="brands-img" src="assets/img/logos/1.png">
            </li>
            <li>
              <img alt="brands-img" src="assets/img/logos/2.png">
            </li>
            <li>
              <img alt="brands-img" src="assets/img/logos/3.png">
            </li>
            <li>
              <img alt="brands-img" src="assets/img/logos/4.png">
            </li>
            <li>
                <img alt="brands-img" src="assets/img/logos/5.png">
            </li>
          </ul>
        </div>
        <div class="col-xl-12"><br>
            <ul class="top-brands mb-0">
              <li>
                <img alt="brands-img" src="assets/img/logos/6.png">
              </li>
              <li>
                <img alt="brands-img" src="assets/img/logos/7.png">
              </li>
              <li>
                <img alt="brands-img" src="assets/img/logos/8.png">
              </li>
              <li>
                <img alt="brands-img" src="assets/img/logos/9.png">
              </li>
              <li>
                  <img alt="brands-img" src="assets/img/logos/10.png">
              </li>
            </ul>
          </div>
          
      </div>
      <br><br><center><a href="#" class="btn"><span>Book Now</span></a></center>
    </div>
  </div>
