<% layout("/layouts/boilerplate") %>
<style>
  .og{
  background-color: #fdfafe;
}
.login-page{
  width: 450px;
  height: 100vh;
  margin: auto;
  background-color: #fdfafe;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
 
}




.form{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: .3rem;
}

.form input{
  width: 100%;
  padding: .5rem;
  border: 2px solid #b3b0b0;
  border-radius: 4px;
}

.form label{
  font-size: 1.17rem;
  font-weight: bold;
}
.login-otp{
  margin-top: .8rem;
  color: blue;
  cursor: pointer;
}

.form button{
  background-color: #FF3394;
  padding-inline: 4rem;
  padding-block: .7rem;
  border-radius: 5px;
  border: none;
  margin-top: 1.5rem;
}







@media screen and (max-width : 650px) {
  .login-page{
      padding-top: 8rem;
  }
}
</style>
<div class="verify-otp-page login-page">
    <form action="/verify-otp" method="post" class="otp-form form">
      <label for="email">Enter Email</label>
      <input type="email" name="email" id="email" required />
      <label for="otp">Enter OTP</label>
      <input type="text" name="otp" id="otp" required />
      <label for="newPassword">Enter New Password</label>
      <input type="password" name="newPassword" id="newPassword" required />
      <button type="submit">Reset Password</button>
    </form>
  </div>
  